* {
    background-color: #0c2c56;
}

h1 {
    color: white;
}

.timer {
    color: white;
}

button {
   background-color: #005c5c;
   color: white;
   height: 50px;
   width: 100px;
   font-size: large;
}

h2 {
    color: white;
}
