* {
    background-color: #0c2c56;
}

h1 {
    color: white;
    font-size: 75px;
}

p {
    color: white;
    font-size: x-large;
}

.timer {
    color: white;
    font-size: x-large;
}

button {
   background-color: #005c5c;
   color: white;
   height: 50px;
   width: 100px;
   font-size: large;
}

h2 {
    color: white;
}

h3 {
    color: #005c5c;
    font-size: 75px;
}

.hide {
    display: none;
}

.reaction {
    color: white;
    font-size: x-large;
}